<form action="/user/login" method="POST">
  <fieldset class="text-center container" style="background-color: #cfb53b">
    <h1>Login</h1>
    <p>Use the form below to login</p>
    <div class="form-group">
      <label for="email" class="form-label mt-4">Email address</label>
      <input
        type="email"
        name="email"
        class="form-control text-center"
        id="email"
        placeholder="example@email.com"
      />
    </div>

    <div class="form-group">
      <label for="password" class="form-label mt-4">Password</label>
      <input
        type="password"
        name="password"
        class="form-control text-center"
        id="passwprd"
        placeholder="Password"
      />
    </div>
    <!--<input type="submit" value="login" />-->
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>
<br />
<br />
<br />
<p class="text-center container" style="background-color: #cfb53b">
  Dont have an account?
  <a class="btn btn-primary" href="/signup">Signup </a>
</p>
