<form action="/user/signup" method="POST">
  <fieldset>
    <legend class="text-center">Signup</legend>
    <p class="text-center">Use the form below to sign up</p>
    <div class="form-group">
      <label for="name" class="form-label mt-4">Name</label>
      <input
        type="name"
        name="name"
        class="form-control"
        id="name"
        placeholder="John Doe"
      />
    </div>
    <div class="form-group">
      <label for="email" class="form-label mt-4">Email address</label>
      <input
        type="email"
        name="email"
        class="form-control"
        id="email"
        placeholder="Example@email.com"
      />
    </div>
    <div class="form-group">
      <label for="password" class="form-label mt-4">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="password"
        placeholder="Password"
      />
    </div>
    <!--<input type="submit" value="Signup" />-->
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>
<p class="text-center">
  Already have an account?
  <a class="nav-link" href="/login">Login </a>
</p>
