<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Welcome to the page">
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    
    <title>ThroughLens</title>
  
    <style>
      h1{text-align:center;}
      h2 {color:red;}
      a {color:rgb(184, 156, 3);}
      font{font-size:18px;}
      .normal-text{font-size:18px;}
    </style>

    <font class="normal-text">This text is going to be 18px.</font>
  </head>
              <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
          <div class="container px-4 px-lg-5">
              <a class="navbar-brand" href="#page-top">Start Bootstrap</a>
              <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ms-auto my-2 my-lg-0">
                      <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                      <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                      <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
                      <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                  </ul>
              </div>
          </div>
      </nav>

    <body>
          
          <h1>ThroughLens</h1>
          <h1>Welcome to the webpage</h1>
          <a href="https://www.instagram.com/diallovisuals/">ThroughLens</a>
          

          <section class="section section-md bg-white">
            <div class="shell">
              <div class="range range-50 range-sm-center range-md-left range-md-reverse range-md-middle">
                <div class="cell-sm-10 cell-md-6 wow fadeInRight">
                  <div class="box-width-4 box-centered">
                    <p class="heading-1">Book Your Photo Shoot</p>
                    <p>I will appreciate as many details about your particular wedding venue, dates, theme and other aspects, as you’d be willing to share. I will be giving you my feedback immediately!</p>
                  </div>
                </div>
                <div class="cell-sm-10 cell-md-6 wow fadeInLeft">
                  <article class="box-line"><span></span><span></span><span></span><span></span>
                    <div class="box-line__main">
                      <!-- Mailform-->
                      <form class="rd-mailform" method="post" action="includes/alldb.php">
                       <!--   <div class="form-wrap">
                            <label class="form-label" for="contact-name">Your First and Last Name</label>
                            <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required">
                          </div>
                          <div class="form-wrap">
                            <label class="form-label" for="contact-date">Date</label>
                            <input class="form-input" id="contact-date" type="text" data-time-picker="date" name="date" data-constraints="@Required">
                          </div> -->
                        
                          <div class="form-email-address">
                            <label class="form-label" for="contact-email">E-mail Address</label>
                            <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Email @Required">
                          </div>
                          
                          <div class="form-date">
                            <label class="form-Date" for="Date">Date</label>
                            <textarea class="form input"  id="date" type="date" name="date" data-constraints="@Date @Required">
                            </div>

                          <div class="form-message">
                            <label class="form-label" for="contact-message">Your Message </label>
                            <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
                          </div>

                          <div class="form-submit-book-me form-button offset-1">
                            <button class="button button-block button-primary-outline button-ujarak" type="submit" name="submitcontact">Book Me!</button>
                          </div>
                        </form>
                    </div>
                  </article>
                </div>
              </div>
            </div>
        </section>
        
      <img width="100" length="100" src = "DSC09305.jpg" alt="Board Pictures"> 
        
</body>
</html>
