<!--include header navigational bars-->
<%- include("include/header") %> <%- include("include/nav_bar") %>
<h1></h1>


<html>
    <head>
                    <title> ThroughLens Image Gallery </title>
        <link rel="stylesheet"href="../css/GalleryStyle.css" type="text/css"/>
        <link rel="stylesheet"href="../css/bootstrap.min.css" type="text/css"/>
        <link rel="stylesheet" href="../css/styles.css" type="text/css" media="screen"/>
        <link rel="stylesheet"href="../css/default.css" type="text/css" media="screen"/>
		<link rel="stylesheet"href="../css/lightbox.min.css" type="text/css"/>
		<script type="text/javascript" src="js/lightbox-plus-jquery.min.js"></script>
    </head>

<body>
                        <h1> ThroughLens Photo Gallery</h1>

<div class="gallery">
	<a href="../img/AImage1.jpg" data-lightbox="mygallery"><img src="../img/AImage1.jpg" width="340" height="300"></a>
	<a href="../img/AImage2.jpg"><img src="../img/AImage2.jpg" width="340" height="300"></a>
	<a href="../img/AImage3.jpg"><img src="../img/AImage3.jpg" width="340" height="300"></a>
	<a href="../img/AImage4.jpg"><img src="../img/AImage4.jpg" width="340" height="300"></a>
	<a href="../img/AImage5.jpg"><img src="../img/AImage5.jpg" width="340" height="300"></a>
	<a href="../img/AImage6.jpg"><img src="../img/AImage6.jpg" width="340" height="300"></a>
	<a href="../img/AImage7.jpg"><img src="../img/AImage7.jpg" width="340" height="300"></a>
	<a href="../img/AImage8.jpg"><img src="../img/AImage8.jpg" width="340" height="300"></a>
	<a href="../img/AImage9.jpg"><img src="../img/AImage9.jpg" width="340" height="300"></a>
	<a href="../img/AImage10.jpg"><img src="../img/AImage10.jpg" width="340" height="300"></a>
	<a href="../img/AImage11.jpg"><img src="../img/AImage11.jpg" width="340" height="300"></a>
	<a href="../img/AImage12.jpg"><img src="../img/AImage12.jpg" width="340" height="300"></a>
	<a href="../img/AImage13.jpg"><img src="../img/AImage13.jpg" width="340" height="300"></a>
	<a href="../img/AImage14.jpg"><img src="../img/AImage14.jpg" width="340" height="300"></a>
	<a href="../img/AImage15.jpg"><img src="../img/AImage15.jpg" width="340" height="300"></a>
</div>

<footer>
	<div class="text-center p-3" style="background-color: #cfb53b"> <span>© 2023 Copyright: ThroughLens Inc. All rights reserved</span></div>
</footer>

</body>
</html>
	
			
<%- include("include/footer") %>