<html>
<head>
<title> Amadou's Image Gallery </title>
		<link rel="stylesheet" type="text/css" href="GalleryStyle.css">
		<link rel="stylesheet" type="text/css" href="css/lightbox.min.css">
		<script type="text/javascript" src="js/lightbox-plus-jquery.min.js">
		</script>
</head>
<body>
<h1> Amadou's Photo Gallery</h1>

	<div class="gallery">
	<a href="AImage1.jpg" data-lightbox="mygallery"><img src="AImage1.jpg"></a>
	<a href="AImage2.jpg"><img src="AImage2.jpg"></a>
	<a href="AImage3.jpg"><img src="AImage3.jpg"></a>
	<a href="AImage4.jpg"><img src="AImage4.jpg"></a>
	<a href="AImage5.jpg"><img src="AImage5.jpg"></a>
	<a href="AImage6.jpg"><img src="AImage6.jpg"></a>
	<a href="AImage7.jpg"><img src="AImage7.jpg"></a>
	<a href="AImage8.jpg"><img src="AImage8.jpg"></a>
	<a href="AImage9.jpg"><img src="AImage9.jpg"></a>
	<a href="AImage10.jpg"><img src="AImage10.jpg"></a>
	<a href="AImage11.jpg"><img src="AImage11.jpg"></a>
	<a href="AImage12.jpg"><img src="AImage12.jpg"></a>
	
	</div>
	
</body>
</html>
	
			
