<!DOCTYPE html>
<html>
    <head>
        <meta name="viewpoint" context="with=device-width, initial-scale=1.0">
        <title>ThroughLens </title>
        <link rel="stylesheet"href="../css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet"href="../css/scheduleStyle.css" type="text/css" />
            <!--===== Boxicons CSS =====-->
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
            <!--===== Datepicker =====-->
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
            <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
            <script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">
            <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>

    </head>
    <body>
  
  <section>
      <%- include("include/nav_bar") %>
  </section>


              <div class="inner-layer">
                <div class="container">
                    <div class="row no-margin">
                        <div class="col-sm-2">
                            <div class="content">

                            </div>
                        </div>
                        
                        <div class="col-sm-8">
                            <div class="form-data">
                                <div class="form-head">
                                    <h5>Appointment Booking for:</h5>
                                    <!--mongodb-->
                                    <h6>Name</h6>
                                    <h6>Email Address</h6>
                                </div>
                                <div class="box">
                                    <div class="index-input">
                                    <label>Type of Service:</label><br>
                                    <label>Session Date:</label><br>
                                    <label>Event Location Venue:</label><br>
                                    <label>Additional Information:</label><br>
                                    </div>
                                <div class="form-body">
                                    <form action="">
                                    <div class="row">
                                        <div class="col">
                                            <label class="billing">BILLING ADDRESS</label>
                                        <div class="inputBox">
                                            <span>Full Name:</span>
                                            <input type="text" class="form-control" id="inputDefault">
                                        </div>
                                        <div class="inputBox">
                                            <span>Email Address:</span>
                                            <input type="email" class="form-control" id="inputDefault">
                                        </div>
                                        <div class="inputBox">
                                            <span>Address:</span>
                                            <input type="text" class="form-control" id="inputDefault">
                                        </div>
                                        <div class="inputBox">
                                            <span>City:</span>
                                            <input type="text" class="form-control" id="inputDefault">
                                        </div>

                                        <div class="flex">
                                            <div class="inputBox">
                                                <span>State:</span>
                                                <input type="text" class="form-control" id="inputDefault">
                                            </div>
                                            <div class="inputBox">
                                                <span>Zip Code:</span>
                                                <input type="text" class="form-control" id="inputDefault">
                                            </div>
                                        </div>

                                        </div>

                                        <div class="col">
                                            <label class="payment">PAYMENT INFORMATION</label>

                                        <div class="inputBox">
                                            <span>Cards Accepted</span>
                                            <img src="../img/card_img.png" alt="payment">
                                        </div>
                                        <div class="inputBox">
                                            <span>Name on Card:</span>
                                            <input type="text" class="form-control" id="inputDefault">
                                        </div>
                                        <div class="inputBox">
                                            <span>Credit Card Number:</span>
                                            <input type="text" class="form-control" id="inputDefault">
                                        </div>

                                        <div class="flex">
                                            <div class="inputBox">
                                                <span>Exp. Date:</span>
                                                <input type="text" placeholder="mm-dd-yyyy" class="form-control" id="inputDefault">
                                            </div>
                                            <div class="inputBox">
                                                <span>CVV:</span>
                                                <input type="text" class="form-control" id="inputDefault">
                                            </div>
                                        </div>

                                        </div>
                                    </form>
                                    </div>
                                    
                                    <div class="form row-form">
                                        <form action="/schedule">
                                        <button type="submit" class="btn-previous" href="/schedule">PREVIOUS</button>
                                        </form>
                                    </div>
                                    <div class="form row-form">
                                        <form action="/review_order">
                                        <button type="submit" class="btn-next" href='/review_order'>NEXT</button>
                                        </form>
                                    </div>
                                    

                                </div>
                            </div>
                            </div>
        
                        </div>
                    </div>
                </div>
            </div>
                <!--LOGO FOOTER-->
    <footer id="footer" class="footer-area">
        <div class="footer-widget pt-130 pb-130">
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="footer-content text-center">
                <a> <img src="../img/logo.png" alt="Logo" /></a>
                </div>
            </div>
            </div>
        </div>
        </div>
    
            <div class="text-center p-3" style="background-color: #cfb53b"> <span>© 2023 Copyright: ThroughLens Inc. All rights reserved</span></div>
        </footer>

        </section>


    </body>

</html>