<!DOCTYPE html>
<html>
    <head>
        <meta name="viewpoint" context="with=device-width, initial-scale=1.0">
        <title>ThroughLens </title>
        <link rel="stylesheet"href="../css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet"href="../css/scheduleStyle.css" type="text/css" />
            <!--===== Boxicons CSS =====-->
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
            <!--===== Datepicker =====-->
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
            <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
            <script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">
            <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>

    </head>
    <body>
        <section class="header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Throughlens</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="navbar-collapse collapse show" id="navbarColor02" style="">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                          </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Service</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Account</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </section>


              <div class="inner-layer">
                <div class="container">
                    <div class="row no-margin">
                        <div class="col-sm-2">
                            <div class="content">

                            </div>
                        </div>
                        
                        <div class="col-sm-8">
                            <div class="form-data">
                                <div class="form-head">
                                    <h5>Appointment Booking for:</h5>
                                    <!--mongodb-->
                                    <h6>Name</h6>
                                    <h6>Email Address</h6>
                                </div>
                                <div class="box">
                                    <div class="index-input">
                                    <label>Type of Service:</label><br>
                                    <label>Session Date:</label><br>
                                    <label>Event Location Venue:</label><br>
                                    <label>Additional Information:</label><br>
                                    </div>
                                <div class="form-body">
                                    <form action="">
                                    <div class="row">
                                        <div class="col">
                                            <label class="billing">BILLING ADDRESS</label>
                                        <div class="inputBox">
                                            <span>Full Name:</span>
                                            <input type="text" class="form-control" id="inputDefault">
                                        </div>
                                        <div class="inputBox">
                                            <span>Email Address:</span>
                                            <input type="email" class="form-control" id="inputDefault">
                                        </div>
                                        <div class="inputBox">
                                            <span>Address:</span>
                                            <input type="text" class="form-control" id="inputDefault">
                                        </div>
                                        <div class="inputBox">
                                            <span>City:</span>
                                            <input type="text" class="form-control" id="inputDefault">
                                        </div>

                                        <div class="flex">
                                            <div class="inputBox">
                                                <span>State:</span>
                                                <input type="text" class="form-control" id="inputDefault">
                                            </div>
                                            <div class="inputBox">
                                                <span>Zip Code:</span>
                                                <input type="text" class="form-control" id="inputDefault">
                                            </div>
                                        </div>

                                        </div>

                                        <div class="col">
                                            <label class="payment">PAYMENT INFORMATION</label>

                                        <div class="inputBox">
                                            <span>Cards Accepted</span>
                                            <img src="payment gateway/images/card_img.png">
                                        </div>
                                        <div class="inputBox">
                                            <span>Name on Card:</span>
                                            <input type="text" class="form-control" id="inputDefault">
                                        </div>
                                        <div class="inputBox">
                                            <span>Credit Card Number:</span>
                                            <input type="text" class="form-control" id="inputDefault">
                                        </div>

                                        <div class="flex">
                                            <div class="inputBox">
                                                <span>Exp. Date:</span>
                                                <input type="text" placeholder="mm-dd-yyyy" class="form-control" id="inputDefault">
                                            </div>
                                            <div class="inputBox">
                                                <span>CVV:</span>
                                                <input type="text" class="form-control" id="inputDefault">
                                            </div>
                                        </div>

                                        </div>
                                    </form>
                                    </div>
                                    
                                    <div class="form row-form">
                                        <form action="index.html">
                                        <button class="btn-previous">PREVIOUS</button>
                                        </form>
                                    </div>
                                    <div class="form row-form">
                                        <form action="review_order.html">
                                        <button class="btn-next">NEXT</button>
                                        </form>
                                    </div>
                                    

                                </div>
                            </div>
                            </div>
        
                        </div>
                    </div>
                </div>
            </div>

        </section>


    </body>

</html>