<!DOCTYPE html>
<html>
    <head>
        <meta name="viewpoint" context="with=device-width, initial-scale=1.0">
        <title>ThroughLens </title>
        <link rel="stylesheet"href="../css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet"href="../css/scheduleStyle.css" type="text/css" />
        <section>
            <!--===== Boxicons CSS =====-->
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
            <!--===== Datepicker =====-->
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
            <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
            <script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">
            <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
        </section>

    </head>
    <body>
      <!---  <section class="header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Throughlens</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="navbar-collapse collapse show" id="navbarColor02" style="">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                          </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Service</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Account</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </section> -->

<section>
    <%- include("include/nav_bar") %>
</section>


              <div class="inner-layer">
                <div class="container">
                    <div class="row no-margin">
                        <div class="col-sm-2">
                            <div class="content">

                            </div>
                        </div>
                        
                        <div class="col-sm-8">
                            <div class="form-data">
                                <div class="form-head">
                                    <h5>Appointment Booking for:</h5>
                                    <!--mongodb-->
                                    <h6>Name</h6>
                                    <h6>Email Address</h6>
                                </div>
                                <div class="box">
                                <div class="form-body">
                                    <div class="select-menu">
                                        <label>Type of Service:</label>
                                        <div class="select-btn">
                                            <span class="sBtn-text">Select your option</span>
                                            <i class="bx bx-chevron-down"></i>
                                        </div>
                                
                                        <ul class="options">
                                            <form action="payment.html" method="GET">
                                            <li class="option">
                                                <span class="option-text">Graduation Shoot I</span>
                                                <span class="option-info"><span class="tab"></span>Basic Package</span>
                                            </li>
                                            <li class="option">
                                                <span class="option-text">Graduation Shoot II</span>
                                                <span class="option-info"><span class="tab"></span>Premium Package</span>
                                            </li>
                                            <li class="option">
                                                <span class="option-text">Photo Package 3</span>
                                                <span class="option-info"><span class="tab"></span>Deluxe Package</span>
                                            </li>
                                            <li class="option">
                                                <span class="option-text">Birthday Package</span>                                            </li>
                                            <li class="option">
                                                <span class="option-text">Event Package</span>
                                            </li>
                                            </form>
                                        </ul>
                                    </div>
                                    <!--Datepicker-->
                                    <br>
                                    <div class="form-group">
                                        <label>Session Date:</label>
                                        <div class="input-group date">
                                            <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                          </div>
                                    </div>
                                    <div class="form-group">
                                    <button class="btn-appointment">
                                        9:00 AM
                                    </button>
                                    <button class="btn-appointment">
                                        10:00 AM
                                    </button>
                                    <button class="btn-appointment">
                                        11:00 AM
                                    </button>
                                    <button class="btn-appointment">
                                        12:00 PM
                                    </button>
                                    </div>
                                    <div class="form-group">
                                    <button class="btn-appointment">
                                        1:00 PM
                                    </button>
                                    <button class="btn-appointment">
                                        2:00 PM
                                    </button>
                                    <button class="btn-appointment">
                                        3:00 PM
                                    </button>
                                    <button class="btn-appointment">
                                        4:00 PM
                                    </button>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-form-label mt-4" for="inputDefault">Event Location Venue:</label>
                                        <input type="text" class="form-control" placeholder="ex. Towson University" id="inputDefault">
                                      </div>

                                    <div class="form-group">
                                        <label for="exampleTextarea" class="form-label mt-4">Additional Information:</label>
                                        <textarea class="form-control" id="exampleTextarea" rows="3" spellcheck="false"></textarea>
                                      </div>

                                    <div class="form row-form">
                                        <form action="payment.ejs">
                                        <button class="btn-next">NEXT</button>
                                        </form>
                                    </div>
                                    

                                </div>
                            </div>
                            </div>
        
                        </div>
                    </div>
                </div>
            </div>

        </section>


    </body>
    <script>
         const optionMenu = document.querySelector(".select-menu"),
        selectBtn = optionMenu.querySelector(".select-btn"),
        options = optionMenu.querySelectorAll(".option"),
        sBtn_text = optionMenu.querySelector(".sBtn-text");

        selectBtn.addEventListener("click", () => optionMenu.classList.toggle("active"));       

        options.forEach(option =>{
        option.addEventListener("click", ()=>{
        let selectedOption = option.querySelector(".option-text").innerText;
        sBtn_text.innerText = selectedOption;

        optionMenu.classList.remove("active");
        });
    });

    </script>
    <script>
        $(function(){
        $('.input-group.date').datepicker({
            orientation: "auto left",
            forceParse: false,
            autoclose: true,
            todayHighlight: true,
            toggleActive: true
        });
        });
    </script>

    
</html>