<% if(locals.errors){ %> 
  <% errors.forEach((error) => { %>
  <div class="alert alert-warning alert-dismissible text-center" role="alert">
    <%= error.error_message %>
  </div>
  <% }); %> 
  <% } %>

<% if(success_message != ''){ %>
<div class="alert alert-success alert-dismissible text-center" role="alert">
  <%= success_message %>
</div>
<% } %> 

<% if(error_message != ''){ %>
<div class="alert alert-danger alert-dismissible text-center" role="alert">
  <%= error_message %>
</div>
<% } %>
