<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Welcome to the page">
    <title>ThroughLens</title>

    <style>
      h1{text-align:center;}
      h2 {color:red;}
      a {color:rgb(184, 156, 3);}
    </style>

  </head>
              <nav>
    <!-- navigational links for webpage -->
    <a href="#">C++</a> |
            <a href="https://www.google.com">About</a> |
            <a href="https://www.google.com">Contact</a> |
            <a href="https://www.google.com">Policy</a> |
            <a href="https://www.google.com">FAQ</a>
              </nav>
    <body>
          
          <h1>ThroughLens</h1>
          <h1>Welcome to the webpage</h1>
          <a href="https://www.instagram.com/diallovisuals/">ThroughLens</a>
          

          <section class="section section-md bg-white">
            <div class="shell">
              <div class="range range-50 range-sm-center range-md-left range-md-reverse range-md-middle">
                <div class="cell-sm-10 cell-md-6 wow fadeInRight">
                  <div class="box-width-4 box-centered">
                    <p class="heading-1">Book Your Photo Shoot</p>
                    <p>I will appreciate as many details about your particular wedding venue, dates, theme and other aspects, as you’d be willing to share. I will be giving you my feedback immediately!</p>
                  </div>
                </div>
                <div class="cell-sm-10 cell-md-6 wow fadeInLeft">
                  <article class="box-line"><span></span><span></span><span></span><span></span>
                    <div class="box-line__main">
                      <!-- Mailform-->
                      <form class="rd-mailform" method="post" action="includes/alldb.php">
                          <div class="form-wrap">
                            <label class="form-label" for="contact-name">Your First and Last Name</label>
                            <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required">
                          </div>
                          <div class="form-wrap">
                            <label class="form-label" for="contact-date">Date</label>
                            <input class="form-input" id="contact-date" type="text" data-time-picker="date" name="date" data-constraints="@Required">
                          </div>
                          <div class="form-wrap">
                            <label class="form-label" for="contact-email">E-mail Address</label>
                            <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Email @Required">
                          </div>
                          <div class="form-wrap">
                            <label class="form-label" for="contact-message">Your Message </label>
                            <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
                          </div>
                          <div class="form-wrap form-button offset-1">
                            <button class="button button-block button-primary-outline button-ujarak" type="submit" name="submitcontact">Book Me!</button>
                          </div>
                        </form>
                    </div>
                  </article>
                </div>
              </div>
            </div>
        </section>
        
      <img width="100" length="100" src = "DSC09305.jpg" alt="Board Pictures"> 
        
</body>
</html>