*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.inner-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 10px;
}


.form-data {
    margin-top: 20%;
    background-color: white;
}

.box {
    background: white;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.index-input {
    border-bottom: 1px solid #CCC;
    margin-left: 70px;
}

.form-body {
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.select-menu{
    margin: 14px auto;
}

.select-menu .select-btn{
    display: flex;
    height: 10px;
    background: #fff;
    padding: 15px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.select-btn i{
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}

.select-menu .options{
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
}

.select-menu.active .options{
    display: block;
}

.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}

.options .option:hover{
    background: #F2F2F2;
}

.option i{
    font-size: 25px;
    margin-right: 12px;
}

.option .option-text{
    font-size: 14px;
    color: #333;
}

.option .option-info{
    font-size: 10px;
    color: lightgray;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

.datepicker-dropdown {
    top: 0;
    left: 0;
    padding: 4px;
    background-color: #ffffff;
    border-radius: 10px;
  }
  .datepicker table {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
  }
  
  .datepicker table tr td,
  .datepicker table tr th {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: none;
    color: #000000;
  }
  
  .datepicker table tr td.day:hover,
  .datepicker table tr td.focused {
    background: #555555;
    cursor: pointer;
  }
  .datepicker table tr td.old,
  .datepicker table tr td.new {
    color: goldenrod;
  }
  
  .datepicker table tr td.today {
    color: #000000;
    background-color: goldenrod;
    border-color: goldenrod;
  }
  .datepicker table tr td.today:hover {
    color: #FFFFFF;
    background-color: goldenrod;
    border-color: goldenrod;
  }
  .datepicker table tr td.active:active,
  .datepicker table tr td.active.highlighted:active,
  .datepicker table tr td.active.active,
  .datepicker table tr td.active.highlighted.active,
  .open > .dropdown-toggle.datepicker table tr td.active,
  .open > .dropdown-toggle.datepicker table tr td.active.highlighted {
    color: #ffffff;
    background-color: goldenrod;
    border-color: goldenrod;
  }
  
  
  .datepicker table tr td.active:active:hover,
  .datepicker table tr td.active.highlighted:active:hover,
  .datepicker table tr td.active.active:hover,
  .datepicker table tr td.active.highlighted.active:hover,
  .open > .dropdown-toggle.datepicker table tr td.active:hover,
  .open > .dropdown-toggle.datepicker table tr td.active.highlighted:hover,
  .datepicker table tr td.active:active:focus,
  .datepicker table tr td.active.highlighted:active:focus,
  .datepicker table tr td.active.active:focus,
  .datepicker table tr td.active.highlighted.active:focus,
  .open > .dropdown-toggle.datepicker table tr td.active:focus,
  .open > .dropdown-toggle.datepicker table tr td.active.highlighted:focus,
  .datepicker table tr td.active:active.focus,
  .datepicker table tr td.active.highlighted:active.focus,
  .datepicker table tr td.active.active.focus,
  .datepicker table tr td.active.highlighted.active.focus,
  .open > .dropdown-toggle.datepicker table tr td.active.focus,
  .open > .dropdown-toggle.datepicker table tr td.active.highlighted.focus {
    color: #ffffff;
    background-color: goldenrod;
    border-color: goldenrod;
  }
  .datepicker table tr td.active:active,
  .datepicker table tr td.active.highlighted:active,
  .datepicker table tr td.active.active,
  .datepicker table tr td.active.highlighted.active,
  .open > .dropdown-toggle.datepicker table tr td.active,
  .open > .dropdown-toggle.datepicker table tr td.active.highlighted {
    color: #ffffff;
    background-color: goldenrod;
    border-color: goldenrod;
  }
  .datepicker table tr td.active:active:hover,
  .datepicker table tr td.active.highlighted:active:hover,
  .datepicker table tr td.active.active:hover,
  .datepicker table tr td.active.highlighted.active:hover,
  .open > .dropdown-toggle.datepicker table tr td.active:hover,
  .open > .dropdown-toggle.datepicker table tr td.active.highlighted:hover,
  .datepicker table tr td.active:active:focus,
  .datepicker table tr td.active.highlighted:active:focus,
  .datepicker table tr td.active.active:focus,
  .datepicker table tr td.active.highlighted.active:focus,
  .open > .dropdown-toggle.datepicker table tr td.active:focus,
  .open > .dropdown-toggle.datepicker table tr td.active.highlighted:focus,
  .datepicker table tr td.active:active.focus,
  .datepicker table tr td.active.highlighted:active.focus,
  .datepicker table tr td.active.active.focus,
  .datepicker table tr td.active.highlighted.active.focus,
  .open > .dropdown-toggle.datepicker table tr td.active.focus,
  .open > .dropdown-toggle.datepicker table tr td.active.highlighted.focus {
    color: #ffffff;
    background-color: goldenrod;
    border-color: goldenrod;
  }
  .datepicker .datepicker-switch {
    width: 145px;
    
  }
  .datepicker .datepicker-switch:hover,
  .datepicker .prev:hover,
  .datepicker .next:hover,
  .datepicker tfoot tr th:hover {
    background: goldenrod;
  }

  .btn-appointment {
    background-color: goldenrod;
    border: rgba(0,0,0,0.1);
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 12px;
    transition-duration: 0.3s;
    width: 100px;
  }

  .btn-appointment:hover {
    background-color: rgb(243, 216, 147);
    color: white;
  }

  .btn-previous {
    width: 100px;
    float: left;
    background-color: lightgray;
    color: white;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
  }

  .btn-next {
    width: 100px;
    float: right;
    background-color: lightgray;
    color: white;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
  }

  .btn-checkout {
    width: 200px;
    float: right;
    background-color: lightgray;
    color: white;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
  }

  .btn-home {
    width: 200px;
    align-items: center;
    background-color: lightgray;
    color: white;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    margin-top: 50px;
  }

  .inputBox {
    margin: 15px 0;
  }

  .inputBox span {
    margin-bottom: 5px;
    display: block;
  }

  .inputBox input {
    width: 100%;
    padding: 10px 15px;
    text-transform: none;
  }

  .flex {
    display: flex;
    gap: 15px;
  }

  .flex .inputBox {
    margin-top: 5px;
  }

  .inputBox img {
    height: 32px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
  }

  .form-head img {
    height: 48px;
    float: left;
    margin-top: -10px;
  }

  .form-body h5 {
    font-weight: bold;
  }

